.profile__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .profile__container {
    margin-top: 30px;
  }
}

@media screen and (max-width: 424px) {
  .profile__container {
    margin-top: 22px;
    transform: translateX(14px);
  }
}
