@import url(../src/vendor/normalize.css);
@import url(../src/vendor/InterWeb/inter.css);
@import url(../src/blocks/root/root.css);
@import url(../src/blocks/root/__element/root__element.css);

@import url(../src/blocks/header/header.css);
@import url(../src/blocks/header/__logo/header__logo.css);
@import url(../src/blocks/header/__menu/header__menu.css);
@import url(../src/blocks/header/__menu/_opened/header__menu_opened.css);
@import url(../src/blocks/header/__menu-item/header__menu-item.css);
@import url(../src/blocks/header/__button-menu/header__button-menu.css);
@import url(../src/blocks/header/__menu-list/header__menu-list.css);
@import url(../src/blocks/header/__button-menu/_opened/header__button-menu_opened.css);

@import url(../src/blocks/profile/profile.css);
@import url(../src/blocks/profile/__avatar-conteiner/profile__avatar-conteiner.css);
@import url(../src/blocks/button/_type/button_type_avatar.css);
@import url(../src/blocks/profile/__avatar/profile__avatar.css);
@import url(../src/blocks/profile/__info/profile__info.css);
@import url(../src/blocks/profile/__container/profile__container.css);
@import url(../src/blocks/profile/__name/profile__name.css);
@import url(../src/blocks/profile/__job/profile__job.css);

@import url(../src/blocks/button/button.css);
@import url(../src/blocks/button/_type/button_type_edit.css);
@import url(../src/blocks/button/_type/button_type_add.css);
@import url(../src/blocks/button/_type/button_type_like.css);
@import url(../src/blocks/button/_active/button_active.css);
@import url(../src/blocks/button/_type/button_type_save.css);
@import url(../src/blocks/button/_type/button_type_disabled.css);
@import url(../src/blocks/button/_type/button_type_delete.css);
@import url(../src/blocks/button/_type/button_type_login.css);

@import url(../src/blocks/cards/cards.css);
@import url(../src/blocks/cards/__container/cards__container.css);
@import url(../src/blocks/cards/__foto/cards__foto.css);
@import url(../src/blocks/cards/__image/cards__image.css);
@import url(../src/blocks/cards/__block/cards__block.css);
@import url(../src/blocks/cards/__title/cards__title.css);
@import url(../src/blocks/cards/__like-container/cards__like-container.css);
@import url(../src/blocks/cards/__like-number/cards__like-number.css);

@import url(../src/blocks/footer/footer.css);
@import url(../src/blocks/footer/__copyright/footer__copyright.css);

@import url(../src/blocks/popup/popup.css);
@import url(../src/blocks/popup/__container/popup__container.css);
@import url(../src/blocks/button/_type/button_type_close.css);
@import url(../src/blocks/popup/__title/popup__title.css);
@import url(../src/blocks/popup/__input-container/popup__input-container.css);
@import url(../src/blocks/popup/__input/popup__input.css);
@import url(../src/blocks/popup/__input-error/popup__input-error.css);
@import url(../src/blocks/popup/__input-error/_visible/popup__input-error_visible.css);
@import url(../src/blocks/popup/__input/_type/popup__input_type_error.css);
@import url(../src/blocks/popup/_is-opened/popup_is-opened.css);
@import url(../src/blocks/popup/__img-container/popup__img-container.css);
@import url(../src/blocks/popup/__img/popup__img.css);
@import url(../src/blocks/popup/__img-caption/popup__img-caption.css);
@import url(../src/blocks/popup/_type/popup_type_img.css);

@import url(../src/blocks/popup/__info-message/popup__info-message.css);
@import url(../src/blocks/popup/__info-message/_type/popup__info-message_type_fail.css);
@import url(../src/blocks/popup/__info-message/_type/popup__info-message_type_success.css);

@import url(../src/blocks/login/login.css);
@import url(../src/blocks/login/__title/login__title.css);
@import url(../src/blocks/login/__form/login__form.css);
@import url(../src/blocks/login/__input/login__input.css);
@import url(../src/blocks/login/__text/login__text.css);
@import url(../src/blocks/login/__link/login__link.css);
@import url(../src/blocks/login/__input-error/login__input-error.css);


